.botaoConfirmar{
    all: unset;
    max-width: 100%;
    display: flex;
    background-color: #053d58;
    color: #E6E8E9;
    padding: 10px 40px 10px 40px;
    border-radius: 18px;
    font-size: 16px;
    line-height: 29px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}