.confirmarDiv{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 78px;
}
.confirmarDiv .botaoConteiner{
    width: 69%;
}
.confirmarDiv .imagemConteiner{
    width: 50%;
    margin-bottom: 6px;
}