.emailDiv{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 78px;
}
.emailDiv .botaoConteiner{
    width: 69%;
}
.emailDiv .imagemConteiner{
    width: 77%;
    display: flex;
    justify-content: center;
    transform: translateY(32px);
    pointer-events: none; 
}