.emailDiv{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emailDiv .botaoConteiner{
    width: 69%;
    height: 39px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.emailDiv .imagemConteiner{
    width: 77%;
    margin-bottom: -36px;
    display: flex;
    justify-content: center;
}